[alias]
	d = diff -w
	l = log
	s = show -w
[blame]
	coloring = repeatedLines
	date = iso
[clean]
	requireForce = true
[color]
	advice = auto
	branch = auto
	diff = auto
	push = auto
	showBranch = auto
	status = auto
	transport = auto
	ui = auto
[color "diff"]
	old = brightred
	oldMoved = brightred
	new = brightgreen
	newMoved = brightgreen
[color "status"]
	added = brightgreen
	changed = brightyellow
	untracked = brightred
[column]
	ui = auto,column,nodense
[core]
	commentChar = "#"
	compression = 9
	fscache = true
	hideDotFiles = true
	pager = delta
	preloadindex = true
[delta]
	blame-timestamp-output-format = "%F %T"
	color-only = false
	diff-so-fancy = true
	line-numbers = true
	navigate = true
	syntax-theme = none
[diff]
	algorithm = minimal
	tool = vimdiff
[diff "utf16toutf8"]
	textconv = iconv -f utf-16 -t utf-8
[difftool]
	prompt = false
[fetch]
	prune = true
	pruneTags = true
[gc]
	auto = 256
[gui]
	fontdiff = -family \"RecMonoCasual Nerd Font\" -size 11
	fontui = -family Signika -size 11
[init]
	defaultBranch = main
[interactive]
	diffFilter = delta
[log]
	date = iso
[merge]
	conflictstyle = zdiff3
[pager]
	branch = false
	log = less -iRFX
[pull]
	rebase = false
[user]
	email = 19171016+tfpf@users.noreply.github.com
	name = Vishal Pankaj Chandratreya
