name: test
on:
  push:
    paths:
      - '.github/workflows/test.yml'
      - 'diff/*'
  workflow_dispatch:

jobs:
  diff:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: |
          cp .gitconfig ~
          sudo cp diff/diff.py /usr/bin
          test $(sha256sum $(git ss a257771) | awk '{print $1}') = 5d9029a685981d885c8f2d526f4b4fcbb12864c01ee910093880c75125921450
        name: Verify diff hash
